.logo{
   font-size: 50px;
   font-family: "logo";
   position: absolute;
   top: 18px;
    
    
    
    

}

.img1{
    position: absolute;
    right: 150px;
    top: 300px;
    
}


body{
    background-color: rgb(0, 0, 0);
    background-image: url("../img/fundo2.png");
    margin: 0;
    padding: 0;
    
}

a { color: #000000; text-decoration: none; transition: 0.5s; text-shadow: 0 0 3px rgb(0, 0, 0); } a:hover { opacity: 0.7; color: rgb(255, 255, 255); text-shadow: 0 0 3px rgb(255, 255, 255); } .logo { position: absolute; left: 20px; } nav { display: flex; justify-content: space-around; align-items: center; font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif; background: #979797; height: 10vh; font-family: rdr2font; font-size: 23; } main { background: url("/img/redwallpaper2.jpg") no-repeat; background-size: cover; height: 120vh; } .nav-list { list-style: none; display: flex; } .nav-list li { letter-spacing: 2px; margin-left: 32px; }

@font-face {
    font-family: logo;
    src: url(../font/old_london/OldLondon.ttf)format("truetype");
}